<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">

    <title>Eat-A-Burger</title>
  </head>
  <body>

  	   <div class="container">
  	   	<h1 class="text-center">Eat-Da-Burger</h1>
			<div class="row">
			   <img src="../public/assets/img/burger.gif" alt="burger" id="burger-img">
			</div>
		</div>

   	<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form action="/burgers" method="POST">
						<div class="form-inline">
							<input type="text" name="burger_name" placeholder="Burger Name" class="form-control col-md-3">
							<button type="submit" class="btn btn-danger mb-2">Order</button>
						</div>
					</form>
				</div>

				<div class="row">
					<div class="col-md-4 text-center">
						{{#each burgers}}
							{{#unless this.devoured}}
								<div>
									<form action="/burgers/{{this.id}}?_method=PUT" method="POST">
										<button type="submit" class='btn bg-yellow m-1'> {{this.burger_name}}</button>
									</form>
								</div>
							{{/unless}}
						{{/each}}
					</div>

					<div class="col-md-4 offset-md-4 text-center">
						{{#each burgers}}
							{{#if this.devoured}}
								<button type="submit" class='btn bg-red m-1' disabled><span class="text-white">{{this.burger_name}}</span></button>
							{{/if}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>

	 <footer>Copyright &#169; 2017 | Faizan Jamal</footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
</html>

